@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBar-item {
    @apply px-3 py-2 transition duration-300 rounded-md hover:bg-zinc-800;
  }
  .container {
    @apply m-auto max-w-[1200px];
  }
  .btn {
    @apply px-3 py-2 mt-4 text-white bg-indigo-700 rounded-md hover:bg-indigo-900;
  }
  .btn-action {
    @apply py-3 mt-3 text-lg font-bold text-white duration-300 rounded-lg;
  }
  .inp-data {
    @apply px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-300;
  }
  .inp-space {
    @apply flex flex-col gap-2;
  }
}
